#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/commonftb/back/wxActCommonftbMain/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">砍价活动配置列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-5">
															    <label for="actName" class="control-label col-sm-3 line34">砍价活动名称</label>
															     <div class="col-sm-8">
															    <input type="text" name="actName" id="actName" value="$!{wxActCommonftbMain.actName}" class="form-control">
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/commonftb/back/wxActCommonftbMain/toAdd.do')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th>砍价活动名称</th>
													<th>是否只能参加一个子活动</th>
													<th>微信公众号</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
																	<td>$!{info.actName}</td>
																	<td>#if($!info.manyCanJoin=='0') 否  #else 是  #end</td>
																	<td>$!{info.jwidName}</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/commonftb/back/wxActCommonftbMain/toEdit.do?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/commonftb/back/wxActCommonftbMain/doDelete.do?id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/commonftb/back/wxActCommonftbMain/toDetail.do?id=$!{info.id}')">详情</a>
							                			<a href="javascript:doUrl('$!{basePath}/system/back/jwSystemActTxt/list.do?actCode=$!{info.id}&backurl=commonftb/back/wxActCommonftbMain/list.do')">活动文本</a>
							                			<a href="javascript:dialogDiv('myModal','访问链接','$!{info.hdurl}')">[访问链接]</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>		<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               模态框（Modal）标题
	            </h4>
	         </div>
	         <div class="modal-body" id="myModalContent"  style="word-break:break-all">
	            按下 ESC 按钮退出。
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="button" class="btn btn-primary" style="display:none;">
	              复制
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
<script>
function dialogDiv(modalId,title,content){ 
 	$('#'+modalId+'Label').html(title);
 	$('#myModalContent').html(content);
	$('#'+modalId).modal({show:true,backdrop:false}); 
}
</script>
</html>