<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">新增</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/commonftb/back/wxActCommonftbMain/doAdd.do" method="POST">
					  		<input type="hidden" id="btn_sub" class="btn_sub" />
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">砍价活动名称</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActCommonftbMain.actName}" name="actName" id="actName" class="form-control" datatype="*"/>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">活动开始时间</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{wxActCommonftbMain.begainTime})" name="begainTime" id="begainTime" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" datatype="*"/>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;"> 活动结束时间</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{wxActCommonftbMain.endTime})" name="endTime" id="endTime" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" datatype="*"/>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否只能参加一个子活动</label>
													    <div class="col-sm-8">
													      <select name="manyCanJoin" id="manyCanJoin" value="$!{wxActCommonftbMain.manyCanJoin}"  class="form-control" > 
														      	<option value="0" >否</option>
														      	<option value="1" >是</option>
														  </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">模版简称</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActCommonftbMain.template}" name="template" id="template" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno">
													    <div class="col-sm-8">
													      <a href="javascript:addFtbs();" style="font-size:18px;">配置子活动</a>
													    </div>
													</div>
													<button type="button"  id="addBtn" style="display:none;color:rgb(72, 167, 231);padding: 3px 15px;font-size: 10px;">添加行</button>
													 <table class="table table-striped" id="table_awards" style="display:none;">
												        <thead>
																<th width=200px>子活动</th>
																<th width=20px>子活动排序</th>
																<th width=20px>操作</th>
												        </thead>
												        <tbody id="tbody_awards">
												            	
												         </tbody>
												    </table>
										<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/commonftb/back/wxActCommonftbMain/list.do')">返回</button>
	        									<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
        									 </div>
        								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		<table style="display: none">
	<tbody id="table_awards_template">
		<tr>
    	    <td>
    	    	<select name="ftbList[#index#].actId"  class="form-control" > 
			    	#foreach($ftb in $ftbs)
		      			<option value="$!ftb.id" >$!ftb.name</option>
		      		#end
	      	     </select>
			</td>
			<td><input type="text" name="ftbList[0].actSort" class="form-control" ignore="ignore" datatype="n" errorMsg="只能输入整数值"/>
			<span class="Validform_checktip" name="ftbList[#index#].actSort"></span></td>
            <td class="last">
			<a  href="javascript:;" onclick="del(this)">删除</a>
			</td>
		</tr>
	</tbody>
</table>
	
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script> 
<script src="$!{basePath}/content/commonftb/default/js/common.js" type="text/javascript"></script>
<script>
function addFtbs(){
	$('#table_awards').toggle();
	$('#addBtn').toggle();
}
$(function(){
  var i=0;//根据索引设置select选中第几项
	$('#addBtn').bind('click', function(){ 
	         var list = $('#tbody_awards').find("tr"); 
	 		 var tr =  $("#table_awards_template tr").clone();
		    var awardsSelect=tr.find("td:first-child").find("select");		     
		     awardsSelect.get(0).selectedIndex=i;
		     i++;			
		 	 $("#table_awards").append(tr);
		 	 resetIndex('tbody_awards');	

	 }); 
	 	 
});
			
function del(obj){
	 	var $this = $(obj);
        $this.parent().parent().remove(); 
	 	resetIndex('tbody_awards');
}

</script>
