<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">编辑</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/jiugongge/back/wxActJiugonggePrizes/doEdit.do" method="POST">
						 <input type="hidden" id="btn_sub" class="btn_sub" />
						 <input type="hidden" value="$!{wxActJiugonggePrizes.id}" name="id" id="id" />
												<div class="form-group mno">
												    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">奖品名称</label>
												    <div class="col-sm-8">
												      <input type="text" value="$!{wxActJiugonggePrizes.name}" name="name" id="name" class="form-control"/>
												    </div>
												</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">奖品图片</label>
													    <div class="col-sm-8">
														    <input type="hidden" id="img" value="$!{wxActJiugonggePrizes.img}" name="img">  
													        <div id="fileQueue" style="width:200px;"></div>   
														    <input type="file" name="uploadify" id="uploadify" />   
														    <div id="pic_view_div" style="width:150px; height:180px">  
														         <img src="$!{basePath}/upload/img/jiugongge/$!{jwid}/$!{wxActJiugonggePrizes.img}" width="150" height="180" id="pic_view">  
														    </div>  							     
													    </div>
													</div>
													 <input type="hidden" id="sessionId" id="sessionId" value="$!{sessionId}"> 
									<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/jiugongge/back/wxActJiugonggePrizes/list.do')">返回</button>
	        									<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
        									 </div>
        							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script>  
<script src="$!{basePath}/content/jiugongge/js/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="$!{basePath}/content/jiugongge/css/uploadify.css" />
<script >
$(function(){
    $("#uploadify").uploadify({  
        'swf'            : '$!{basePath}/content/jiugongge/js/uploadify.swf',  
        'uploader'       : '$!{basePath}/jiugongge/back/wxActJiugonggePrizes/doUpload.do?sessionId=$!{sessionId}',
        'queueID'        : 'fileQueue',  
        'auto'           : true,  
        'multi'          : true,  
        'buttonCursor'   : 'hand',  
        'fileObjName'    : 'file',  
        'buttonText'     : '上传图片',  
        'height'         : '25',  
        'progressData'   : 'percentage',  
        'fileTypeDesc'   : '支持格式:jpg/gif/jpeg/png/bmp.',    
        'fileTypeExts': '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式         
        onUploadStart : function(file) {

        },
        onUploadSuccess  : function(file,data,response) { 
        var parsedJson = jQuery.parseJSON(data);  
            //设置图片预览  
            $("#img").val(parsedJson.obj);  
            $("#pic_view").attr("src",'$!{basePath}/upload/img/jiugongge/$!{jwid}/' + parsedJson.obj);  
        }  
    });  
});
</script>	