#set($version='?v=1.0.3')
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="msapplication-tap-highlight" content="no">
<title>$!{bargain.actName}</title>
<link href="$!{basePath}/content/shaketicket/default/css/index.css$!{version}" type="text/css" rel="stylesheet" />
<script src="$!{basePath}/content/shaketicket/default/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="$!{basePath}/content/shaketicket/default/js/wxcheck.js$!{version}" type="text/javascript"></script>
</head>

<body style="width:100%; margin:0 auto;">
<div class="lq_rwm_form2  fail1">
	  <div class="inputcontent7">
	    <div class="tstk_conter">
	      <p class="lq_wbd_zh" id="tip_msg_content">${errMsg}</p>
	      <div class="infomation_btn_dg">
	        <button class="btn3 ysw_btn_color" id="returnWx">返回微信</button>
	      </div>
	    </div>
	  </div>
</div>
</body>
</html>

<script>
jQuery(document).ready(function() {
	jQuery("#returnWx").click(function() {
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', closeWindow, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', closeWindow); 
		        document.attachEvent('onWeixinJSBridgeReady', closeWindow);
		    }
		}else{
			closeWindow();
		}
	})
})

function closeWindow(){
	WeixinJSBridge.call('closeWindow');
}
</script>

